{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Приложение</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="action" value="Получить"></input><br>

        <table>
            <tr>
                <th>Имя файла</th>
                <th></th>
            </tr>
            {% for i in all_files %}
            <tr>
                <td>{{i.name}}</td>
                <td>
                    <a href="{% url 'downloadFile' path=i.path %}" class="download-link">Скачать</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        
    </form>
</body>
</html>