{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>YA</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <form method="post">
        {% csrf_token %}

        {% load cache %}
        {% cache 300 listfiles %}

        {{ form.as_p }}
        <input type="submit" name="action" value="Получить"></input><br>

        {% if username %}
        <table>
            <tr>
                <th class="stroke-wb"><p>Вы вошли как: {{username}}</p></th>
                <th class="stroke-wb"><button type="submit" name="reset_token" value="true">Очистить поля</button><br></th>
            </tr> 
        </table>
        {% endif %}

        <table>
            {% if all_files%}
            <tr>
                <th>Имя файла</th>
                <th></th>
            </tr>
            {% endif %}

            {% for i in all_files %}
            <tr>
                <td>{{i.name}}</td>
                <td>
                    <a href="{% url 'downloadFile' path=i.path %}" class="download-link">Скачать</a>
                </td>
            </tr> 
            {% endfor %}

            {% endcache %}
        </table>
        
    </form>
</body>
</html>